body {
    background-color: darkgrey;
}

.wrapper {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.flex-container {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
}

.box {
    min-width: 100px;
    height: 100px;
}

.one {
    background: darkgreen;
}

.two {
    background: darkmagenta;
}

.three {
    background-color: darkslateblue;
}